<template>
  <v-col md="12">
    <v-card
      class="mt-5 mx-auto my-12"
      max-width="300"
      @click="selectedid(organization)"
    >
      <v-img
        :src="organization.photo"
        alt=""
        width="300"
        class="d-flex"
      ></v-img>
      <v-card-title class="text-wrap">
        {{ organization.name }}
      </v-card-title>
      <v-card-subtitle color="grey--text text--darken-2">
        {{ organization.website }}
      </v-card-subtitle>
      <v-card-text>
        {{ organization.description.substring(0, 150) + '...' }}
      </v-card-text>
      <v-chip-group class="ml-2">
        <div
          v-for="(criterion, indexc) in organization.criterion"
          :key="indexc"
        >
          <v-chip class="ma-2" label color="teal" outlined>{{
            criterion.name
          }}</v-chip>
        </div>
      </v-chip-group>
      <v-card-text align="right">
        {{ organization.address_city
        }}<v-icon v-if="$store.state.user !== ''" class="ml-3" color="yellow"
          >mdi-star-plus-outline</v-icon
        >
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
export default {
  name: 'AnnuaireCard',
  props: {
    organization: {
      default() {
        return null
      },
      type: Object,
    },
  },
  data() {
    return {
      show: false,
      orga: [],
    }
  },
  methods: {
    selectedid(organization) {
      this.$emit('selectedid', organization)
    },
  },
}
</script>

<style scoped src="./AnnuaireCard.css"></style>
