.bloc-modale {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0 ;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modale {
  background: #f1f1f1;
  color: #333;
  padding: 50px;
  position: fixed;
}

.btn-modale {
  position: absolute;
  top: 10px;
  right: 10px;
}

a {
  text-decoration: none;
  font-style: italic;
}