<template>
  <div>
    <v-card>
      <v-card-title>
        <h2>Recherche</h2>
      </v-card-title>
      <v-card-text>
        <v-form ref="searchForm" lazy-validation>
          <v-input>
            <v-icon color="teal" class="mr-2" aria-hidden="false"
              >mdi-home-search</v-icon
            >
            <!-- TODO autocomplétion avec https://geo.api.gouv.fr/adresse -->
            <v-text-field
              v-model="search"
              label="Votre localité"
              hide-details="auto"
              :rules="[(v) => !!v || 'Une localité est requise']"
              required
            ></v-text-field>
          </v-input>
          <v-btn
            :disabled="!validSearch"
            color="teal white--text"
            class="mr-4"
            @click="validate"
            >Chercher</v-btn
          >
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
// import axios from 'axios'

export default {
  name: 'SearchHome',
  data() {
    return {
      search: '',
    }
  },
  computed: {
    validSearch() {
      if (this.search !== '') {
        return true
      } else {
        return false
      }
    },
  },
  methods: {
    validate() {
      this.$refs.searchForm.validate()
    },
  },
}
</script>

<style scoped src="./SearchHome.css"></style>
