<template>
  <div>
    <v-card>
      <v-card-title class="card_title">
        <h2>Connexion</h2>
      </v-card-title>
      <!-- TODO Ajouter des rules aux champs v-text-field -->
      <v-card-text>
        <v-form lazy-validation @submit.prevent="">
          <v-input class="username">
            <v-icon color="teal" class="mr-2" aria-hidden="false"
              >mdi-account</v-icon
            >
            <v-text-field
              id="id_username"
              v-model="username"
              type="text"
              label="Nom d'usage (identifiant)"
              hide-details="auto"
              :rules="[(v) => !!v || 'Un mot de passe est requis']"
              required
            ></v-text-field>
          </v-input>
          <v-input class="password">
            <v-icon color="teal" class="mr-2" aria-hidden="false"
              >mdi-lock</v-icon
            >
            <v-text-field
              id="id_password"
              v-model="password"
              type="password"
              label="Votre mot de passe"
              hide-details="auto"
              :rules="[(v) => !!v || 'Un mot de passe est requis']"
              required
            ></v-text-field>
          </v-input>
          <div class="login">
            <!-- TODO Changer le username en email pour la connexion (config DRF) -->
            <v-btn
              :disabled="!validLogin"
              color="teal white--text"
              type="submit"
              @click="login()"
              >Se connecter</v-btn
            >
            <v-alert
              v-if="error === true"
              dense
              outlined
              type="error"
              class="mt-3"
            >
              L'identifiant et/ou le mot de passe sont erronés
            </v-alert>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import axios from 'axios'
import jwtDecode from 'jwt-decode'

export default {
  name: 'AccountLogin',
  data() {
    return {
      username: '',
      password: '',
      error: false,
    }
  },
  computed: {
    validLogin() {
      // TODO Renforcer les critères de validation (REGEX)
      if (this.username !== '' && this.password !== '') {
        return true
      } else {
        return false
      }
    },
  },
  methods: {
    async login() {
      let id
      let user
      let token
      try {
        // Récupération du token et ajout dans le localStorage
        const responseToken = await axios.post(
          `http://127.0.0.1:8000/api/token/`,
          {
            username: this.username,
            password: this.password,
          }
        )
        token = responseToken.data.access
        this.error = false
        localStorage.setItem('token', token)
        id = jwtDecode(token).user_id
      } catch (error) {
        this.error = true
        localStorage.setItem('token', undefined)
        throw error
      }
      // Récupération des infos du user et envoi dans le store avec le token
      try {
        const responseUser = await axios.get(`users/` + id + `/`)
        user = responseUser.data
        // // eslint-disable-next-line no-console
        // console.log('Recup user :', user)
        this.error = false
        this.$store.commit('login', { token, user })
      } catch (error) {
        // eslint-disable-next-line no-console
        console.log('Erreur recup user : ', error)
        this.error = true
      }
      this.$router.push('/profil')
    },
  },
}
</script>

<style src="./AccountLogin.css"></style>
