<template>
  <div>
    <div v-if="displayMode === 'table'">
      <v-data-table
        :items="organizations"
        :items-per-page="5"
        :headers="headers"
        :sort-by="'date_registration'"
        :sort-desc="true"
      >
        <template #[`item.edit`]="{ item }">
          <v-icon
            small
            class="mr-2"
            color="grey"
            @click="editOrganization(item.id)"
            >mdi-pencil</v-icon
          >
          <v-icon small color="red" @click="deleteOrganization(item.id)"
            >mdi-delete</v-icon
          >
        </template>
        <template #[`item.date_registration`]="{ item }">
          <span>{{ date(item.date_registration) }}</span>
        </template>
        <template #[`item.criterion`]="{ item }">
          <v-chip
            v-for="critere in item.criterion"
            :key="critere.name"
            class="mr-2"
          >
            {{ critere.name }}
          </v-chip>
        </template>
      </v-data-table>
    </div>
    <v-row v-else-if="displayMode === 'cards'">
      <div v-for="(organization, index) in organizations" :key="index">
        <AnnuaireCard
          :organization="organization"
          @selectedid="applyId($event)"
        ></AnnuaireCard>
      </div>
    </v-row>
    <div v-else-if="error === true">
      <p>Erreur sur la requête</p>
    </div>
    <div v-else-if="organizations.length === 0">
      Vous ne gérez actuellement aucune structure
    </div>
    <ModaleAnnuaire
      v-if="selectedOrga != null"
      :organization="selectedOrga"
      @hideModal="hideModal()"
    ></ModaleAnnuaire>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ProfilAnnuaire',
  props: {
    displayMode: {
      default: 'table',
      type: String,
    },
  },
  data() {
    return {
      error: false,
      organizations: [],
      selectedOrga: null,
      headers: [
        { text: 'Nom', sortable: true, value: 'name' },
        {
          text: 'Description',
          sortable: false,
          value: 'description',
        },
        {
          text: 'Critères',
          sortable: false,
          value: 'criterion',
        },
        {
          text: "Date d'ajout",
          sortable: true,
          value: 'date_registration',
        },
        {
          text: 'Admin',
          sortable: false,
          value: 'edit',
        },
      ],
    }
  },
  mounted() {
    axios
      .get(`http://127.0.0.1:8000/organizations/`)
      .then((response) => {
        // #region Récupérer les organisations de l'ID
        // DEBUG COMP AnnuaireMyCards : Récup' Organizations de l'ID
        // // eslint-disable-next-line no-console
        // console.log(
        //   '%c Récupération de la table Organization :',
        //   'color: orange; font-weight: bold;'
        // )
        // // eslint-disable-next-line no-console
        // console.table(response.data.results, [
        //   'id',
        //   'name',
        //   'description',
        //   'type',
        //   'owner',
        // ])
        // // eslint-disable-next-line no-console
        // console.log(response.data.results)
        // #endregion
        response.data.results.forEach((e, i) => {
          if (
            response.data.results[i].owner.username ===
            this.$store.state.user.username
          ) {
            this.organizations = [...this.organizations, e]
          }
        })
        // #region Liste des organizations liées au user
        // DEBUG COMP AnnuaireMyCards : Liste des organizations liées au user
        // // eslint-disable-next-line no-console
        // console.log(this.organizations)
        // #endregion
        this.error = false
      })
      .catch((erreur) => {
        // eslint-disable-next-line no-console
        console.log(
          'Erreur récupération du tableau des organizations : ',
          erreur
        )
        this.error = true
      })
  },
  methods: {
    // https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString
    date(date) {
      return new Date(date).toLocaleDateString('fr-FR', {
        year: 'numeric',
        month: 'long',
        day: '2-digit',
      })
    },
    applyId(event) {
      this.selectedOrga = event
    },
    hideModal() {
      this.selectedOrga = null
    },
    editOrganization(id) {
      // TODO Ecrire la fonction d'édition de l'annuaire du user
      // eslint-disable-next-line no-console
      console.log('ECRIRE LA REQUETE')
      window.alert('Fonctionnalité en cours de développement')
    },
    deleteOrganization(id) {
      axios
        .delete(`http://127.0.0.1:8000/organizations/${id}/`, {
          headers: {
            Authorization: 'Bearer ' + localStorage.getItem('token'),
          },
        })
        .then((response) => {
          // TODO Ajouter une fenêtre de confirmation de suppression
          // TODO Rafraîchir le composant
          // eslint-disable-next-line no-console
          console.log(response)
          // eslint-disable-next-line no-console
          this.organizations.splice(0, 1)
        })
        // eslint-disable-next-line no-console
        .catch((error) => console.log(error))
    },
  },
}
</script>

<style src="./ProfilAnnuaire.css"></style>
