.nuxt-link-active {
    font-weight: bold;
    text-decoration: none;
}

.v-app-bar-title__content, .v-toolbar__content a {
    color: white;
    text-decoration: none;
}

.title {
  text-overflow: clip;
  overflow: visible;
}