<template>
  <div>
    <v-form
      ref="searchForm"
      lazy-validation
      class="d-inline-flex align-center justify-center ml-5"
    >
      <!-- TODO autocomplétion -->
      <v-text-field
        v-model="search"
        label="Votre localité *"
        solo
      ></v-text-field>
      <v-btn type="submit" icon>
        <v-icon color="white">mdi-magnify</v-icon>
      </v-btn>
    </v-form>
  </div>
</template>

<script>
// import axios from 'axios'

export default {
  name: 'SearchHeader',
  data() {
    return {
      search: '',
    }
  },
  methods: {
    validate() {
      this.$refs.searchForm.validate()
    },
  },
}
</script>

<style scoped src="./SearchHeader.css"></style>
