<template>
  <div>
    <v-card>
      <v-card-title class="card_title">
        <h2>Inscription</h2>
      </v-card-title>
      <!-- TODO Ajouter des rules aux champs v-text-field -->
      <v-card-text>
        <v-form lazy-validation @submit.prevent="">
          <v-input class="username">
            <v-icon color="teal" class="mr-2" aria-hidden="false"
              >mdi-account</v-icon
            >
            <v-text-field
              id="id_username"
              v-model="username"
              type="text"
              label="Nom d'usage (identifiant)"
              hide-details="auto"
            ></v-text-field>
          </v-input>
          <v-input class="password">
            <v-icon color="teal" class="mr-2" aria-hidden="false"
              >mdi-lock</v-icon
            >
            <v-text-field
              id="id_password"
              v-model="password"
              type="password"
              label="Votre mot de passe"
              hide-details="auto"
              :rules="[(v) => !!v || 'Un mot de passe est requis']"
              required
            ></v-text-field>
          </v-input>
          <v-input class="passwordConfirm">
            <v-icon color="teal" class="mr-2" aria-hidden="false"
              >mdi-lock-check</v-icon
            >
            <v-text-field
              id="id_passwordConfirm"
              v-model="passwordConfirm"
              type="password"
              label="Confirmez votre mot de passe"
              hide-details="auto"
              required
            ></v-text-field>
          </v-input>
          <v-input class="email">
            <v-icon color="teal" class="mr-2" aria-hidden="false"
              >mdi-email</v-icon
            >
            <v-text-field
              id="id_email"
              v-model="email"
              type="email"
              label="Votre email"
              hide-details="auto"
              :rules="[(v) => !!v || 'Votre e-mail est requis']"
              required
            ></v-text-field>
          </v-input>
          <v-input class="city">
            <v-icon color="teal" class="mr-2" aria-hidden="false"
              >mdi-home-city</v-icon
            >
            <!-- TODO autocomplétion avec https://geo.api.gouv.fr/adresse -->
            <v-text-field
              id="id_city"
              v-model="address_city"
              type="text"
              label="Ville"
              hide-details="auto"
            ></v-text-field>
          </v-input>
          <v-input class="first_name">
            <v-text-field
              id="id_firstname"
              v-model="first_name"
              class="ml-7"
              type="text"
              label="Prénom (facultatif)"
              hide-details="auto"
            ></v-text-field>
          </v-input>
          <v-input class="last_name">
            <v-text-field
              id="id_lastname"
              v-model="last_name"
              class="ml-7"
              type="text"
              label="Nom (facultatif)"
              hide-details="auto"
            ></v-text-field>
          </v-input>
          <div class="action">
            <v-btn
              :disabled="!validCreate"
              color="teal white--text"
              type="submit"
              @click="createAccount()"
              >S'inscrire</v-btn
            >
            <v-alert
              v-if="error === true"
              dense
              outlined
              type="error"
              class="mt-3"
            >
              Au moins un champ est erroné
            </v-alert>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import axios from 'axios'
// import jwtDecode from 'jwt-decode'

export default {
  name: 'AccountCreate',
  data() {
    return {
      first_name: '',
      last_name: '',
      username: '',
      email: '',
      password: '',
      passwordConfirm: '',
      address_city: '',
      id: '',
      error: false,
    }
  },
  // TODO VALIDATION DU FORMULAIRE D'INSCRIPTION : Regex ou vee-validate ? Idem pour password
  // regex: v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Email non valide'
  // TODO VALIDATION DU FORMULAIRE D'INSCRIPTION : Vérifier la présence de l'email ou du nom d'usage dans la BDD
  computed: {
    validCreate() {
      if (
        this.email !== '' &&
        this.password !== '' &&
        this.passwordConfirm !== '' &&
        this.username !== '' &&
        this.address_city !== '' &&
        this.password === this.passwordConfirm
      ) {
        return true
      } else {
        return false
      }
    },
  },
  methods: {
    async createAccount() {
      // #region Lire les données du formulaire
      // DEBUG COMP AccountCreate : Valeurs du formulaire
      // // eslint-disable-next-line no-console
      // console.log(
      //   '%c COMPONENT AcountCreate => Récupération de la réponse renvoyée par Axios (response)',
      //   'color: orange; font-weight: bold;'
      // )
      // eslint-disable-next-line no-console
      // console.log(
      //   this.first_name,
      //   this.last_name,
      //   this.username,
      //   this.email,
      //   this.password,
      //   this.passwordConfirm,
      //   this.address_city
      // )
      // #endregion
      if (this.password === this.passwordConfirm) {
        await axios
          .post(`http://127.0.0.1:8000/users/`, {
            username: this.username,
            password: this.password,
            email: this.email,
            address_city: this.address_city,
            first_name: this.first_name,
            last_name: this.last_name,
          })
          .then((response) => {
            // #region Lire la réponse
            // DEBUG COMP AccountCreate : Axios Then
            // eslint-disable-next-line no-console
            console.log(
              '%c COMPONENT AcountCreate => Récupération de la réponse renvoyée par Axios (response)',
              'color: orange; font-weight: bold;'
            )
            // eslint-disable-next-line no-console
            console.log(response)
            // #endregion
            this.error = false
            localStorage.clear()
            // TODO COMP AccountCreate Afficher une confirmation d'inscription
          })
          .catch((erreur) => {
            // #region Lire l'erreur retournée
            // DEBUG COMP AccountCreate : Axios Catch
            // eslint-disable-next-line no-console
            console.log(
              "%c COMPONENT AcountCreate => Récupération de l'erreur renvoyée par Axios (response)",
              'color: orange; font-weight: bold;'
            )
            // eslint-disable-next-line no-console
            console.log(erreur)
            // #endregion
            this.error = true
          })
      }
    },
  },
}
</script>

<style src="./AccountCreate.css"></style>
