<template>
  <v-footer absolute app class="teal white--text">
    <v-row justify="center" no-gutters>
      <v-btn text rounded color="white">
        <p class="ma-2">Contact</p>
        <p class="ma-2">Blog</p>
        <p class="ma-2">A propos</p>
        <p class="ma-2">Flux RSS</p>
        <p class="ma-2">Charte</p>
        <p class="ma-2">C.G.U.</p>
        <p class="ma-2">C.G.V.</p>
        <p class="ma-2">Politique cookies</p>
      </v-btn>
      <v-col class="py-4 text-center white--text" cols="12">
        <span
          ><strong>La Coordonnerie </strong>&copy;
          {{ new Date().getFullYear() }}</span
        >
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      fixed: true,
    }
  },
}
</script>

<style src="./Footer.css"></style>
