<template>
  <v-app app>
    <Header></Header>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <Footer></Footer>
  </v-app>
</template>

<script></script>

<style>
hr {
  height: 1px;
  border: 0;
  background-color: rgb(192, 192, 192);
}
.v-card__subtitle {
  text-decoration: none;
  font-style: italic;
  color: #3f51b5;
}

.v-card__text,
.v-card__title {
  word-break: normal;
}

h1,
h2,
h3,
h4 {
  font-family: 'Proza Libre', sans-serif;
  color: #009688;
}
.v-app-bar-title__content {
  font-family: 'Proza Libre', sans-serif;
}
h1 {
  text-transform: uppercase;
}
</style>
