// TODO N'afficher que les organizations validées
<template>
  <div class="phone-book">
    <v-container>
      <v-row justify="center">
        <h1 class="text-center">L'annuaire</h1>
      </v-row>
      <v-row justify="center">
        <div v-for="(organization, index) in organizations" :key="index">
          <AnnuaireCard
            :organization="organization"
            @selectedid="applyId($event)"
          ></AnnuaireCard>
        </div>
        <ModaleAnnuaire
          v-if="selectedOrga != null"
          :organization="selectedOrga"
          @hideModal="hideModal()"
        ></ModaleAnnuaire>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Annuaire',
  data() {
    return {
      organizations: null,
      selectedOrga: null,
    }
  },
  mounted() {
    axios
      .get(`http://127.0.0.1:8000/organizations/`)
      .then((response) => {
        // #region Récupérer les organisations
        // DEBUG PAGE Annuaire : Récup' Organizations
        // // eslint-disable-next-line no-console
        // console.log(
        //   '%c Récupération de la table Organization :',
        //   'color: orange; font-weight: bold;'
        // )
        // // eslint-disable-next-line no-console
        // console.table(response.data.results, [
        //   'id',
        //   'name',
        //   'description',
        //   'type',
        // ])
        // #endregion
        this.organizations = response.data.results
      })
      .catch((erreur) => {
        // eslint-disable-next-line no-console
        console.log(erreur)
      })
  },
  methods: {
    applyId(event) {
      this.selectedOrga = event
    },
    hideModal() {
      this.selectedOrga = null
    },
  },
}
</script>

<style></style>
