<template>
  <div>
    <h1 class="text-center mb-4">L'annuaire écologique et social</h1>
    <v-row>
      <v-img
        :src="require('@/assets/img/bandeau_accueil.svg')"
        alt=""
        class="d-flex mb-10"
        max-width="100%"
      >
      </v-img>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6" lg="4" offset-lg="2">
        <SearchHome></SearchHome>
      </v-col>
      <v-col cols="12" sm="6" lg="4">
        <div v-if="$store.getters.isAuth">
          <AccountLogout></AccountLogout>
        </div>
        <div v-else-if="displayMode === 'login'">
          <AccountLogin></AccountLogin>
          <p>
            Pas encore de compte ?
            <a @click="switchCreate()"> S'inscrire</a>
          </p>
        </div>
        <div v-else-if="displayMode === 'create'">
          <AccountCreate></AccountCreate>
          <p>
            Déjà inscrit ?
            <a @click="switchLogin()"> Se connecter</a>
          </p>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      displayMode: 'login',
    }
  },
  head: {
    title: 'La cOOrdonnerie',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      {
        hid: "Page d'accueil du site La Coordonnerie",
        name: "Page d'accueil du site La Coordonnerie",
        content: 'Réseau de solutions alternatives, écologiques et sociales',
      },
    ],
  },
  computed: {
    mode() {
      return this.$store.state.mode
    },
  },
  methods: {
    switchLogin() {
      this.displayMode = 'login'
    },
    switchCreate() {
      this.displayMode = 'create'
    },
  },
}
</script>

<style>
h2 {
  font-size: 1.3rem;
}
.v-card__title {
  justify-content: center;
}
.v-alert {
  font-size: 12px;
}
</style>
