<template>
  <div>
    <v-card>
      <v-card-title>
        <h2>Déconnexion</h2>
      </v-card-title>
      <v-card-text>
        <p>
          Vous êtes déjà connecté en tant que :
          {{ $store.getters.isAuth && $store.state.user.username }}
        </p>
      </v-card-text>
      <v-btn color="teal white--text" class="ma-4" @click="logout">
        Se déconnecter</v-btn
      >
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'AccountLogout',
  methods: {
    logout() {
      this.$store.commit('logout')
      localStorage.clear()
    },
  },
}
</script>

<style src="./AccountLogout.css"></style>
